@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
	--font-stack: "Roboto", -apple-system, BlinkMacSystemFont, sans-serif;
	--border-radius: 4px;
	--primary: #1b3a8f;
}

body {
	font-family: var(--font-stack);
	color: #4a4a4a;
}
